<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>

<p>
  <strong>Year:</strong>
  <%= @course.year_id %>
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>

<hr>
<%= render template: 'students/index' %>

<br>

<%= form_tag import_students_url, multipart: true do %>
  <hr>
  <h2>Import Students with CSV</h2>
  <p> Supported fields: <b> code;name;email;continuing;lab_name;lab_handle;country;continent;username;website_path </b> </p>
  <%= file_field_tag :file, class: 'btn btn-outline-primary' %>
  <%= hidden_field_tag :course_id, params[:id] %>
  <%= submit_tag "Import students", class: 'btn btn-outline-danger' %>
  <hr>
<% end %>
