<% if @version %>
  <p> Version: <%= @version %> </p>
<% end %>

<% if @response %>
  <p><%= @response.inspect %></p>
<% end %>

<% if @members %>
  <p>
  Found <%= @members.size %> members
  </p>

  <table class="table table-sm bg-white table-hover table-striped table-bordered">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Username</th>
      </tr>
    </thead>
    <tbody>
      <% @members.each do |m| %>
        <tr>
          <td>
            <%= m.id %>
          </td>
          <td>
            <%= m.name %>
          </td>
          <td>
            <%= link_to m.username, m.web_url %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% end %>
