<p id="notice"><%= notice %></p>

<h1>Organizations</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Year count</th>
      <th>Student count</th>
      <th>Gitlab url</th>
      <th>Gitlab token</th>
      <th>Gitlab folder</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @organizations.each do |organization| %>
      <tr>
        <td><%= link_to organization.name, organization %></td>
        <td><%= organization.years.count %></td>
        <td><%= organization.students.count %></td>
        <td><%= organization.gitlab_url %></td>
        <td><%= organization.gitlab_token %></td>
        <td><%= organization.gitlab_folder_id %></td>
        <td><%= link_to 'Show', organization %></td>
        <td><%= link_to 'Edit', edit_organization_path(organization) %></td>
        <td><%= link_to 'Destroy', organization, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Organization', new_organization_path %>
