<p id="notice"><%= notice %></p>

<p>
  <strong>Gitlab url:</strong>
  <%= @organization.gitlab_url %>
</p>

<p>
  <strong>Gitlab folder:</strong>
  <%= @organization.gitlab_folder_id %>
</p>

<%= link_to 'Edit', edit_organization_path(@organization) %> |

<% if current_user.organization.gitlab_url.present? && current_user.organization.gitlab_token.present? %>
  <hr>
  <div class="div-gitlab-check">
    <%= link_to "Check Gitlab version", gitlab_check_organization_url(item:'version'), remote: true, class: 'btn btn-outline-primary' %>
    <br>
    <%= link_to "Check Gitlab folder #{@organization.gitlab_folder_id} (test)", gitlab_check_organization_url, remote: true, class: 'btn btn-outline-primary my-2' %>
    <br>
    <%= link_to "Check Gitlab folder members", gitlab_check_organization_url(item:'students'), remote: true, class: 'btn btn-outline-primary' %>
    <br>
  </div>
  <hr>
  <div id="gitlab"><p>Gitlab Status should show here.</p></div>
<% end %>

<hr>
<h2>Years</h2>

<%= render @organization.years %>
<br>
<%= link_to "Create a new year", new_year_url %>
