<%= form_with(model: lab, local: true) do |form| %>
  <% if lab.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lab.errors.count, "error") %> prohibited this lab from being saved:</h2>

      <ul>
        <% lab.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :slug %>
    <%= form.text_field :slug %>
  </div>

  <div class="field">
    <%= form.label :gitlab_id %>
    <%= form.text_field :gitlab_id %>
  </div>

  <div class="field">
    <%= form.label :course_id %>
    <%= form.select :course_id, Course.pluck(:name, :id) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
