<p>
  <strong>Name:</strong>
  <%= @year.name %>
</p>

<p>
  <strong>Organization:</strong>
  <%= @year.organization %>
</p>

<%= link_to 'Edit', edit_year_path(@year) %> |
<%= link_to 'Back', years_path %>

<hr>
<h2><%= @year.courses.count %> courses in <%= @year %></h2>
<%= render @year.courses %>

<br>

<%= link_to "Create a new course in #{@year}", new_course_url(year: @year), class: 'btn btn-outline-primary' %>
